@charset "UTF-8";
body {
  cursor: url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c4559d00356476c0926e1b_cursor-blue.svg"), url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c45308cb48e16138b239f6_cursor-blue.png"), auto;
}
body a:hover {
  cursor: url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c4559d36abb0fe8a92f12c_cursor-red.svg"), url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c452de347fe815efece542_cursor.png"), auto;
}
@media (max-width: 1920px) {
  body section.project-section-info-block div.meta-row {
    flex-flow: column;
    align-items: flex-start;
  }
}
@media (max-width: 991px) {
  body section.project-section-info-block div.meta-row {
    display: flex;
    flex-flow: row;
  }
  body section.project-section-info-block div.meta-row .meta_title {
    min-width: 25%;
  }
}
@media (max-width: 640px) {
  body section.project-section-info-block div.meta-row {
    flex-flow: column;
    align-items: flex-start;
  }
}
body section.project-section-info-block div.meta-row ul {
  list-style: none;
  padding-left: 0;
}
body section.project-section-info-block div.meta-row.meta-last {
  border-bottom: none;
}
body section.project-section-info-block div.meta-row .meta-value ul li {
  margin-bottom: 1em;
}
body section.project-section-info-block div.meta-row .meta-value ul li:last-child {
  margin-bottom: 0;
}
body section.project-section-info-block div.meta-row .meta-value ul listrong {
  text-wrap: nowrap;
}
body section.project-section-info-block div.meta-row .meta-value ul li a {
  display: initial;
}
body section.project-section-info-block div.meta-row .w-richtext ol,
body section.project-section-info-block div.meta-row .w-richtext ul {
  overflow: visible;
}
body section.project-section-info-block div.meta-row#ils-en-parlent ul li {
  display: flex;
}
body section.project-section-info-block div.meta-row#ils-en-parlent ul li::before {
  content: "↗︎";
  margin-right: 7px;
  font-size: 1.3em;
  color: var(--blue);
}
body section.project-section-description {
  transition: height 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  overflow: hidden;
  position: relative;
}
body section.project-section-description .longue {
  transition: opacity 0.4s ease;
}
body section.project-section-description .longue.is-visible {
  display: block;
  opacity: 1;
}
@media (max-width: 584px) {
  body section.project-section-description .rich-text-block {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (max-width: 1920px) {
  body .collection-list {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 640px) {
  body .collection-list {
    -moz-column-count: 1;
         column-count: 1;
  }
}
body .collection-list .collection-item-2 {
  position: relative;
}
body .collection-list .collection-item-2 span {
  position: absolute;
  background: white;
}

.w-dyn-list .w-dyn-item .project-link .voir-le-projet {
  visibility: hidden;
}
.w-dyn-list .w-dyn-item .project-link:hover .voir-le-projet {
  visibility: visible;
  color: var(--blue);
}

.w-dyn-list .w-dyn-item:nth-child(2) .div-block div.div-block-2 {
  order: 1;
}
.w-dyn-list .w-dyn-item:nth-child(2) .div-block .image-5 {
  order: 2;
}
.w-dyn-list .w-dyn-item:nth-child(2) .div-block .image-4 {
  order: 3;
}
.w-dyn-list .w-dyn-item:nth-child(2) .div-block .image-3 {
  width: 67%;
  order: 4;
  justify-self: end !important;
}
.w-dyn-list .w-dyn-item:nth-child(2) .div-block .image-2 {
  order: 5;
  justify-self: start !important;
}

.profile-element#peut-etre-toi .blue-filter {
  display: none;
}

.project-page .project-section-images div.vertical-image-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 991px) {
  .project-page .project-section-images div.vertical-image-group {
    flex-direction: row;
    margin-bottom: 140px;
  }
  .project-page .project-section-images div.vertical-image-group > .w-dyn-item {
    flex: 1;
    width: 50%;
    margin-bottom: 0;
  }
  .project-page .project-section-images div.vertical-image-group > .w-dyn-item a.lightbox-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .project-page .project-section-images div.vertical-image-group > .w-dyn-item a.lightbox-link img.image-projet {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.project-page .project-section-images div.archive-photos {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.project-page .project-section-images div.archive-photos .w-dyn-item.archive-photo a {
  width: 100%;
}
.project-page .project-section-images div.archive-photos > div.w-dyn-item {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  margin-bottom: 2rem;
}
.project-page .project-section-images .w-dyn-item.archive-photo {
  text-align: center;
}
.project-page .project-section-images .w-dyn-item.archive-photo a {
  width: 80%;
  margin: 0 auto;
}
.project-page .project-section-images .w-dyn-item.archive-photo a img {
  filter: saturate(0%) contrast(0.7);
}
.project-page .project-section-images .w-dyn-item.archive-photo a .image-archive-date {
  display: block;
}
.project-page .project-section-images .w-dyn-item.archive-photo a .image-archive-date p {
  margin: 0;
}

.homepage_mosaic .homepage_mosaic_item a.red {
  cursor: url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c4559d00356476c0926e1b_cursor-blue.svg"), url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c45308cb48e16138b239f6_cursor-blue.png"), auto;
}

.accordion .accordion-item .accordion-last.w-dyn-bind-empty {
  display: block !important;
}
.accordion .accordion-item .accordion-details {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in;
}
.accordion .accordion-item:hover {
  cursor: url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c4559d36abb0fe8a92f12c_cursor-red.svg"), url("https://uploads-ssl.webflow.com/6666edf5122df02443324f43/66c452de347fe815efece542_cursor.png"), auto;
}
.accordion .accordion-item:hover * {
  color: var(--red);
}
.accordion .accordion-item:hover .tag {
  border-color: var(--red);
}
.accordion .accordion-item:hover .tag:hover {
  font-weight: 300;
}
@media (min-width: 992px) {
  .accordion .accordion-item:hover .accordion-details {
    display: block;
  }
}

body .blue-filter-container:hover img {
  filter: none;
}
body .blue-filter-container:hover .blue-filter {
  display: none;
}

.w-container:before,
.w-container:after {
  content: none !important;
  display: none !important; /* Extra insurance for grid layouts */
}